.autocomplete-container {
    position: relative;
}

.autocomplete-input {
    width: 100%;
    padding: 10px;
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.autocomplete-list li {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #f1f1f1;
}

@media (max-width: 600px) {
    .autocomplete-input,
    .autocomplete-list {
        padding: 5px;
    }

    .autocomplete-list li {
        padding: 5px;
    }
}